
#ah1{
    	
    	padding-bottom: 0px;
		text-align: center;
		font-size: 90px;
		margin: 0px;
		border: 0px;
	}




#ap{
	padding-top: 0px;
	float: right;
	font-size: 24px;
	text-align: center;
	padding-right: 25%;
	padding-left: 25%;
}

#aimg{
	margin: auto;
	height: 230px;
	width: 320px;
}

.footar p {
	color: #00a69c;
	font-size: 20px;
}


.footar a{
	color: #00a69c;
	font-size: 20px;
}


.footar h2{
	color: white;
}